.hidden {
  display: none;
}

body {
  margin: auto;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

#clock {
  font-size: 70px;
  text-align: center;
}

#weather {
  font-size: 30px;
  text-align: right;
}

#login-form {
  font-size: 50px;
  text-align: center;
}

#greeting {
  font-size: 50px;
  text-align: center;
}

#todos {
  width: 600px;
  margin: auto;
}

#todo-form {
  text-align: center;
}

#todo-list {
  white-space: pre-line;
}

#quote {
  text-align: center;
  font-size: 30px;
}

ul,
ol {
  padding: 0;
  position: relative;
}

ul li,
ol li {
  color: white;
  border-left: solid 8px orange;
  background: rgba(25, 25, 25, 0.5);
  border-bottom: solid 2px #dadada;
  margin-bottom: 5px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none !important;
}

input {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  height: 20px;
  color: #ffffff;
  background-color: #00000000;
  border: none;
  border-bottom: solid 3px #eeeeee;
}

input:focus {
  outline: none;
}

button {
  background-color: #00000000;
  border: none;
}
::placeholder {
  font-size: 20px;
  color: #ffffff;
}
